body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: url(./img/bg.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}

@media screen and (min-width: 1600px) {
	.bodys {
		zoom: 90%;
		width: 1980px !important;
		height: 1080px !important;
	}
}

header {
	width: 100%;
	height: 6%;
	text-align: center;
	/* border-bottom: 1px solid #ccc; */
	display: flex;
	color: #fff;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	color: aliceblue;
	/* position: absolute; */
	/* background: url(./img/jcdsj_logo.png) no-repeat center center;
	background-size: 100%; */

}

header span {
	text-align: center;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	background: linear-gradient(0deg, #8FDFFF, #6691FF);
	background-size: cover;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	font-weight: bolder;
	cursor: text;
	margin-top: -0.3rem;
}


p,
h4 {
	margin: 0;
	margin-top: 5px;
}

.body {
	width: 100%;
	height: 92%;
	display: flex;
}

.body-right,
.body-left {
	width: 25%;
	/* border-bottom: 1px solid #ccc; */
	display: flex;
	flex-direction: column;
}

.body-con {
	flex: 1;
	position: relative;
}

.body {
	/* width: 951px; */
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
	z-index: 0;
}

.body-con {
	min-height: 511px;
	position: absolute;
	margin-top: 1.5rem;
	z-index: 99999;
}

.body-map {
	width: 751px;
	height: 100%;
	margin: auto;
	position: relative;
}

.header {
	width: 39%;
	height: 4.5rem;
	background: url(./img/head.png) no-repeat center center;
	background-size: 100% 100%;
	margin-top: -0.8rem;
}

.call {
	position: absolute;
	width: 100%;
	min-height: 511px;
	z-index: 0;
	top: 2.5rem;
}

.toogle {
	width: 80%;
	margin: auto;
	display: flex;
	color: aliceblue;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.toop {
	background: url("./img/toop.png") no-repeat;
	background-size: 100% 100%;
	width: 130px;
	height: 35px;
}

.toop .bg {
	width: 80%;
	height: 30px;
	/* margin: auto; */
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.toogle .left img,
.toogle .right img {
	width: 100px;
}

.toop .bg p:nth-child(1) {
	font-family: Rationale;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #E6F3FF;
}

.toop .bg p:nth-child(2) {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	color: #FFE86E;
}

.call ul {
	width: 80%;
	height: 1.8rem;
	display: flex;
	/* align-items: center; */
	padding: 0;
	margin: auto;
	justify-content: center;
}

.call ul li {
	width: 5.5rem;
	font-family: PingFang HK;
	font-style: normal;
	font-weight: 200;
	font-size: 11px;
	color: #E6FFF8;
	text-shadow: 0px 0px 4px rgba(229, 255, 248, 0.25);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('./img/select.png') no-repeat;
	background-size: 100% 100%;
}

.call ul .active {
	background: url('./img/active.png') no-repeat;
	background-size: 100% 100%;
	color: #97FFE2;
	font-size: 13px;
}